.header {
    background-color: var(--primary-navy);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 15px 0; /* Le damos un poco más de aire a la barra */
    border-bottom: 1px solid rgba(197, 160, 89, 0.2);
}

.logo-brand {
    display: flex;
    align-items: center;
    padding: 0;
}

.logo-img {
    height: 75px !important; /* Subimos de 42px a 75px para compensar los márgenes transparentes */
    width: auto !important;
    max-width: 380px;
    object-fit: contain;
    display: block;
}
